<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- ON DEMAND LOG ENABLER -->
	<turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
		<MDCKey>ENABLE_LOG_FOR_THIS_USER_AND_SERVICE</MDCKey>
		<Value>TRUE</Value>
		<OnMatch>ACCEPT</OnMatch>
		<OnMismatch>NEUTRAL</OnMismatch>
	</turboFilter>

	<!-- Appenders -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">

		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>

	</appender>
	
 	<logger
		name="com.seenukarthi">
		<level value="trace" />
	</logger> 

	<logger
		name="org.springframework">
		<level value="trace" />
	</logger>

	<!-- Root Logger -->
	<root level="warn">
		<appender-ref ref="console" />
	</root>

</configuration>
